:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  /* place-items: center; */
  line-height: 1.5;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
}
.card {
  color: var(--clr-neutral-100);
  /* background-image: url(./images/button.jpg); */
  background-size: cover;
  padding: 9rem 0 0;
  /* max-width: 35ch; */
  border-radius: 00.6rem;
  overflow: hidden;
  transition: transform 500ms ease;
  /* height: 45vh; */
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
  /* height: 50vh; */
}

.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 1000ms;
  /* margin-bottom: 3rem; */
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);

  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
  transform: translateY(65%);
  transition: transform 500ms ease;
  height: 30vh;
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -7px;
  width: calc(100% + var(--padding));

  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left;
}

.title1::after {
  background: #ff0075;
}
.title2::after {
  background: #1c7947;
}
.title3::after {
  background: #ffce45;
}
.title4::after {
  background: #113cfc;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.85);
  margin-top: 1rem;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  /* color: white; */

  padding: 0.5em 1.25em;
  margin-top: 1rem;
  border-radius: 0.25em;
}

.button1 {
  background: #ff0075;
  border: 2px solid #ff0075;
  color: white;
}
.button2 {
  background: #1c7947;
  border: 2px solid #1c7947;
  color: white;
}
.button3 {
  background: #ffce45;
  border: 2px solid #ffce45;
  color: white;
}
.button4 {
  background: #113cfc;
  border: 2px solid #113cfc;
  color: white;
}
